table {
   border-collapse: collapse;
   border: 20px groove rgb(66, 190, 190);
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 70px;
   width: 80%;

}

th, td {
   border: 2px solid rgb(148, 148, 55);
   padding: 5px;
   text-align: center;
   vertical-align: center;
   font-size: larger;
}

caption {
   caption-side: top;
   text-align: center;
   font-size: 20px;
   padding-bottom: 10px;
   color: rgb(11, 11, 37);
}

header {
   text-align: center;
   color: rgb(11, 37, 37);
   padding-top: 30px;
}

.link {
   display: inline-block;
   padding: 15px;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 15px;
   background-color: rgb(255, 206, 206);
   border: 2px solid black;
}

th {
   color: aliceblue;
   padding: 10px;
}

table col#firstCol {
   background-color: rgb(19, 50, 227);
   width: 15%;
}

table thead tr th {
   background-color: rgb(11, 80, 114);
   width: 10%;
}

table tbody > tr td:hover {
   background-color: rgb(127, 255, 253);
}
