
html {
    background-image: url(images/waves.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: fit-content;
    margin: auto;
    padding: 50px;
}

div.link {
    display: block;
    width: fit-content;
    margin-bottom: 20px;
    padding: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    background-color: #97d2e1;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 3px;
}

div.container {
    display: flex;
    flex-direction: column;
    background-color: rgb(169, 207, 221);
    padding: 15px;
    border: 2px solid rgb(245, 245, 245);
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input {
    width: 250px;
}

input[type=text] {
    padding: 10px;
    margin: 10px;
}

input[type=email] {
    padding: 10px;
    margin: 10px;
}

input[type=tel] {
    padding: 10px;
    margin: 10px;
}

input[type=date] {
    padding: 10px;
    margin: 10px;
}

input#middleinit {
    width: 30px;
}

input[type=submit] {
    padding: 10px;
    margin: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    cursor: pointer;
    margin-left: auto;
}

input[type=submit]:hover {
    box-shadow: 0 12px 14px 0 rgba(0,0,0,0.24), 0 12px 20px 0 rgba(0,0,0,0.19);
}

iframe {
    padding: 20px;
    border: 1px dashed gray;
}

fieldset {
    padding: 20px;
    border: 1px dashed gray;
}

legend {
    padding: 10px;
    font-size: 27px;
}